/* ******************  ********** ******************** */
/* ******************  contact us ******************** */

.contact-us{
    font-size: 11px;
    margin: 5px;
}

.contact-us-icon{
    padding-left: 15px;
}

.header-top i{
    font-size: 15px;
    line-height: 23px;
}

.header-top ul li{
    border-right: 1px solid var(--dark-blue);
    height: 100%;
    padding: 0 5px;
}

.header-top ul li:last-child{
    border-right: none;
}

.header-top ul li:first-child:hover {
    background-color: #46d4fe;
}
.header-top ul li:nth-child(2):hover {
    background-color: #e44885;
}
.header-top ul li:last-child:hover {
    background-color: #a67658;
}

.header-top ul li:hover{
    transition: 0.4s;
}

/* *************************  main header ************************* */

header{
    background-color: white;
    color: #c9c9c9;
    font-size: 16px;
    height: 132px;
    position: sticky;
    top: 0;
    z-index: 999;
}

header .main-header{
    height: 100%;
}

header nav ul a{
    display: block;
    border-bottom: 2px solid white;
    line-height: 130px;
    text-align: center;
}

header nav ul .b-border{
    border-bottom: 2px solid var(--dark-blue);
}

header nav ul a:hover{
    color: black;
    border-bottom: 2px solid var(--dark-blue);

    transition: 0.6s;
}

header nav ul a span{
    border-right: 1px solid #c9c9c9;
    padding: 0 10px;
}

header nav ul li:nth-child(5) a span, .header-button span{
    border: none;
}

header nav label > a{
    line-height: 130px;
    font-size: 20px;
    padding: 0 10px;
}

header nav label > a:hover{
    color: black;
}

.header-button span{
    background-color: var(--medium-blue);
    color:white;
    padding: 9px;
    border-radius: 2px;
}

.header-button:hover{
    border: none;
}

.header-button:hover span{
    background-color: #205c86;
}

/* ***************************  nav ol *************************** */

header ul li:nth-child(3){
    position: relative;
}

header ul li:nth-child(3):hover ol{
    display: block;
}

header ol{
    background-color: white;
    flex-direction: column;
    border-top: 2px solid var(--medium-blue);
    width: 200px;
    position: absolute;
    top: calc(100% - 2px);
    display: none;
}

header ol li a{ 
    text-align: left;
    line-height: 45px;
    padding: 0 10px;
    border: none;
}

header ol li a:hover{
    background-color: #f3f3f3;
    border: none;
}

/* ********************* header searchbox ********************* */

header input[type="checkbox"]{
    display: none;
}

header nav{
    position: relative;
}

header .search-box{
    background-color: white;
    position: absolute;
    top: calc(100% - 20px);
    right: 0;
    padding: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    display: none;
}

header .search-box::before{
    content: "";
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-bottom: 6px solid #c5c5c5;
    
    position: absolute;
    right: 10px;
    bottom: 100%;
}

header .search-box::after{
    content: "";
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-bottom: 6px solid white;
    
    z-index: 999;

    position: absolute;
    right: 10px;
    bottom: 100%;
    transform: translate(0 , 20%);
}

header input[type="checkbox"]:checked + .search-box{
    display: inline-flex;
}

header input{
    height: 40px;
    width: 200px;
    border: 1px solid #c5c5c5;
    background-color: #eeeeee6e;
    padding: 5px;
    border-right: none;
    border-radius: 2px 0 0 2px;
}

header input + i{
    background-color: var(--medium-blue);
    color: white;
    height: 40px;
    width: 40px;
    font-size: 16px;
    padding: 12px;
}

/* ********************* header berger menu ********************* */

header .label-menu{
    width: 20px;
    height: 20px;
}

header .label-menu span{
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    
    background: #cdcdcd;
    border-radius: 3px;
}

header label[class="label-menu"]{
    display: none;
}

header label{
    z-index: 999;
}

/* **************************************************************** */

